

<div class="new">
	<div class="row">
		<div class="col-md-2">
			<div class="sideBar">
			<div ng-repeat = "onlinePoste in onlinePostes">
			<a href="#/userInfo/{{onlinePostes.indexOf(onlinePoste)}}"> <p class = "sidePost">   {{onlinePoste.title}} </p></a>
            </div>
		</div>
		</div>
		<div class="col-md-10">
				<input type="text" ng-model = "name1" placeholder = "Title"> <br>
    				 <div text-angular ng-model="postText"  class = "textarea"></div>
					<input type="text" ng-model = "user" required placeholder = "User Name">
					<button ng-click = "addPost()"> submit</button>
			</div>
	</div>
</div>