<div class="row">
	<div class="col-md-2">
		<div class="sideBar">
		<div ng-repeat = "onlinePoste in onlinePostes">
			<a href="#/userInfo/{{onlinePostes.indexOf(onlinePoste)}}"> <p class = "sidePost">   {{onlinePoste.title}} </p></a>
                           </div>
		</div>
		</div>

	<div class="col-md-8">
		<div class="postsTotal">
        			<div ng-repeat = "onlinePoste in onlinePostes">
        				<div class = "viewArea">
                           <a href="#/userInfo/{{onlinePostes.indexOf(onlinePoste)}}"> <h3 class=" singleTitle" ng-mouseover = "hover()" ng-mouseout = "hoverNo()">   {{onlinePoste.title}} </h3></a> <img src="http://content.sportslogos.net/logos/54/61/full/4aol8vndl5r2szhsibci.gif" ng-show= "hoverTrue" class = "img">
        				<p ta-bind ng-model = "onlinePoste.text" class = "textBox"> </p>
        				</div>
        				<ul><p class = "userName"> User: {{onlinePoste.user}}</p> <p>{{onlinePoste.date}}</p></ul>
                    </div>

        		</div>

	</div>
</div>	


