<div class="openPage" ng-show = "openPage">
            <div class="login" ng-show = "login">
            <div class="row">
              <div class="col-md-5 col-md-offset-7">
                <input class = "loginField" type="email" name="email" placeholder="Email"
                  ng-model= "user.email" ng-required="true">
                 <input class = "loginField" type="password" name="password" placeholder="Password"
                  ng-model="user.password" ng-required="true">
                  <button ng-click = "SignIn()" class = "buttonWoo"> Sign In</button>
                  <button ng-click = "Register()" class = "buttonWoo"> Register</button>

              </div>
            </div>
          </div>

            <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h1 id = "openTitle"> Kitty Wars</h1>
              
                <div class="col-md-9 col-md-offset-3">
                    <h4 class = "openSubtitle"> A game of whiskers and wit</h4>
                </div>
                </div>
            </div>
            <div class="login" ng-show = "signUp">
            <div class="row">
              <div class="col-md-6 col-md-offset-3">
                <input class = "loginField" type="email" name="email" placeholder="Email"
                  ng-model= "user1.email" ng-required="true">
                 <input class = "loginField" type="password" name="password" placeholder="Password"
                  ng-model="user1.password" ng-required="true">
                  <button ng-click = "RegisterAccount()" class = "buttonWoo"> Sign Up</button>
                  <button class="buttonWoo" ng-click = "signInInstead()"> Sign In</button>

              </div>
            </div>
          </div>
          </div>