<div>
	<input type="text" placeholder = "title" ng-model = "title">
	<input type="text" placeholder= "what's on your mind" ng-model= "body">
	<input type="text" placeholder="author" ng-model = "author">
	<a ui-sref="home"><button ng-click = "addPost()">submit</button></a>
</div>