body {
  padding: 50px;
}

a {
  color: #00B7FF;
}

img {box-shadow: 2px 2px 2px black}

.homeBtn {margin-left: 20vw}

.ta-editor {
    min-height: 300px;
    height: auto;
    overflow: auto;
    font-family: inherit;
    font-size: 100%;
 }
.comments{
	margin-top: 5vh;
}

#authorName{
	font-size: 1.5em;
}
.addPost{
	margin-left: 23vw;
	width: 15vw;
	margin-top: 10vh;
		}
.postsTotal{
	max-height: 60vh;
	overflow:hidden;
	background-color: #7986cb;
}

.postsBody{overflow: hidden;
			max-height: 30vh}

.author{
	font-size: 1.2em;
	color: #f5f5f5;
}

 body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

.all{
	background-color: #f9fbe7;
	font-family: open sans;
	font-size: 1.2em
}
.postInfo, .postTitle, #changeColor{
	color:#f5f5f5; 
	text-shadow: 1px 1px 1px black;
}

  main {
    flex: 1 0 auto;
  }

.postsBody{
	color: #f5f5f5;
}

 #jump{
 	font-size: 1.4em;
 	color: #6200ea;
 }

.topLogo{
	margin-top: 1.5vh;
	height: 6vh;
	width: 6vh;
	box-shadow: 1px 1px 1px black;
}

.authorPosts{
	color: #efebe9;
	font-size: 1.2em
}

.titleLink:link{
	color: #f5f5f5;
}

::-webkit-input-placeholder{
	font-size: 1.2em;
	color: #009688;
}
